<div class="space-y-3 flex flex-col gap-1">
  <label for="feedback" class="text-base font-medium">{{ label }}</label>

  <textarea
    class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-base
           ring-offset-2 ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none
           focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed
           disabled:opacity-50 md:text-sm resize-none p-2 "
    id="feedback"
    [placeholder]="placeholder"
    [(ngModel)]="text"
    (change)="onTextChange($event)"
  ></textarea>
</div>
