<div class="space-y-3 flex flex-col gap-1">
  <label class="text-base font-medium">{{ label }}</label>
  <button
    (click)="toggleRecording()"
    [ngClass]="{
      'bg-red-600 text-white hover:bg-red-700': recording,
      'border border-gray-300 text-gray-700 hover:bg-gray-100': !recording
    }"
    class="w-full px-4 py-2 rounded flex items-center justify-center gap-2 transition-colors"
  >
    <lucide-angular
      [img]="mic"

      [size]="16"
      [ngClass]="{ 'animate-pulse': recording }"
      color="#4a5565"
    ></lucide-angular>
    {{ recording ? 'Stop Recording' : 'Start Voice Recording' }}
  </button>
</div>
